/* Fundo */
body  {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("WhatsApp Image 2025-08-08 at 11.33.31.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
    .titulo-jogo {
      margin-top: 50px;
      font-family: 'Press Start 2P', cursive;
      color: yellow;
      text-align: center;
      font-size: 66px;
      text-shadow: 3px 3px 0px black, 6px 6px 8px rgba(0,0,0,0.8);
    }
    .main-content {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: calc(100vh - 150px);
    }
    .container {
      display: flex;
      width: 90%;
      max-width: 900px;
      background: #2b2a2a;
      border: 2px solid #2e2d2d;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }
    .form-side {
      flex: 1;
      padding: 40px;
      background-color: #e0e0e0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .form-side h1, 
.form-side h2 { 
  font-family: 'Press Start 2P', cursive; 
}

/* Estilo para todas as telas principais */
#login h1, #login h2,
#cadastro h1, #cadastro h2,
#esqueci h1, #esqueci h2,
#redefinir h1, #redefinir h2 {
  color: rgb(250, 246, 0);
  text-shadow: 2px 2px 0px rgb(0, 0, 0);
}

form { 
  display: flex; 
  flex-direction: column; 
}

input, select {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 1rem;
}

    button {
      padding: 12px;
       background-color: #0084ff;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 1rem;
      margin-bottom: 10px;
    }
    p { text-align: center; }
    .page { display: none; }
    .active { display: block; }

/* Links padrão */
a {
  color: black;           /* cor normal do link */
  text-decoration: none;  /* tira o sublinhado */
  cursor: pointer;
  transition: color 0.3s; /* animação suave */
}

/* Quando passar o mouse */
a:hover {
  color: blue;            /* fica azul */
}

/* Container do campo de senha com ícone */
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  flex: 1;
  padding-right: 40px; /* espaço para o ícone */
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}
