<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Game</title>
  <link rel="stylesheet" href="estilo.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Math Game</h1>
  <h2>Math Game</h2>
  <h3>Math Game</h3>

  <div class="menu-container">
    <a href="index.html" target="_blank">
      <button class="btn-pixel" id="btn-new-game">Cadastre-se para jogar</button>
    </a>

    <!-- Ícones com caixas fixas abaixo -->
    <div class="icon-buttons">
      <div class="icon-wrapper">
        <button class="icon-btn" id="btn-control">🎮</button>
        <div class="info-box" id="box-control">Como funciona o jogo.</div>
      </div>

      <div class="icon-wrapper">
        <button class="icon-btn" id="btn-key">🔑</button>
        <div class="info-box" id="box-key">Como é a progreção da fase.</div>
      </div>

      <div class="icon-wrapper">
        <button class="icon-btn" id="btn-trophy">🏆</button>
        <div class="info-box" id="box-trophy">Metas e Recompensas.</div>
      </div>
    </div>
  </div>

  <!-- Botão hambúrguer fixo no canto superior direito -->
  <button class="hamburger" id="btn-menu">☰</button>
<!-- Sidebar oculta -->
<div id="sidebar" class="sidebar">
  <div class="icon-wrapper">
    <button class="icon-btn-sidebar" onclick="toggleInput('input1')">Sobre o jogo</button>
  </div>

  <div class="icon-wrapper">
    <button class="icon-btn-sidebar" onclick="toggleInput('input2')">Criadores</button>
  </div>

  <div class="icon-wrapper">
    <button class="icon-btn-sidebar" onclick="toggleInput('input3')">Suporte</button>
  </div>
</div>

  <script src="JavaScript.js"></script>
</body>
</html>